body{
    background-color: rgb(185, 185, 185);
    height: 100vh;
}
.container{
    background-color: rgb(255, 255, 255);
    border: 10px solid gray;
    box-sizing: border-box;
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;  
    font-size: 20px;
}
.container-1{
    width: 50%;
    margin: auto;
    float: left;
    text-align: center;
}
.container-2{
    width: 50%;
    margin: auto;
    float: right;
    
}
.container-button-img-gg{
    width: 250px; 
    height: 30px;
    font-size: 16px;
    vertical-align: middle;
}
.img-gg{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    
}
#email{
    width: 250px;
    height: 20px;
}
#password{
    width: 250px;
    height: 20px;
}
.container-email{
    padding-bottom: 20px;
}
.container-password{
    padding-bottom: 20px;
}
.container-checkbox{
    padding-bottom: 20px;
}
.container-button-login{
    background-color: rgb(8, 0, 114);
    color: white;
    vertical-align: middle;
    width: 250px; 
    height: 30px;
    padding-bottom: 20px;
}
p{
    padding-left: 9%;
}